﻿@* // =============================== *@
@* // Author: Miroslav Novák (xnovak1k@stud.fit.vutbr.cz) *@
@* // Create date: *@
@* // === *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <!--<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <title>PimBotWebChat</title>
    <!--
    For demonstration purposes, we are using the development branch of Web Chat at "/master/webchat.js".
    When you are using Web Chat for production, you should use the latest stable release at "/latest/webchat.js",
    or lock down on a specific version with the following format: "/4.1.0/webchat.js".
    -->
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <style>
        html, body {
            width: 90%;
            height: 100%;
            display: flex;
        }

        body {
            margin: 0
        }

        .row {
            display: flex;
        }

        #webchat {
            width: 50%;
            height: 100%;
            flex: 300%;
        }

        #admin {
            width: 70%;
            height: 100%;
            flex: 20%;
        }
    </style>
</head>
<body>
    <!-- <div class="row"> -->

    <div id="webchat" role="main"></div>
    <div id="admin"></div>
    <div id="admin">
        <table>
            <tr>
                <td>
                    <h2>Pimbot</h2>
                    <br />
                    <b>Current PIM server url:</b>
                    http://pimicschatbot.westeurope.cloudapp.azure.com
                    <br />
                    <b>
                        Author:
                    </b>Miroslav Novák in cooperation with Allium s.r.o.

                    <form asp-controller="Auth" asp-action="Logout" method="post">
                        <input type="submit" value="Logout" />
                    </form>

                    <div id="total"></div>
                </td>
            </tr>
        </table>
    </div>

    <!-- </div> -->

    <script>
        (async function () {
            // In this demo, we are using Direct Line token from MockBot.
            // To talk to your bot, you should use the token exchanged using your Direct Line secret.
            // You should never put the Direct Line secret in the browser or client app.
            // https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication

            // We are using a customized store to add hooks to connect event
            const store = window.WebChat.createStore({},
                ({ dispatch }) => next => action => {
                    if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
                        // When we receive DIRECT_LINE/CONNECT_FULFILLED action, we will send an event activity using WEB_CHAT/SEND_EVENT
                        dispatch({
                            type: 'WEB_CHAT/SEND_EVENT',
                            payload: {
                                name: 'webchat/join',
                                value: { language: window.navigator.language, name: 'mirek' }
                            }
                        });
                    }
                    return next(action);
                });

            // You can modify the style set by providing a limited set of style options
            const styleOptions = {
                backgroundColor: 'rgba(208, 212, 216, .1)',
                bubbleBackground: 'rgba(0, 0, 255, .1)',
                bubbleFromUserBackground: 'rgba(0, 255, 0, .1)',
                botAvatarImage:
                    'https://docs.microsoft.com/en-us/azure/bot-service/v4sdk/media/logo_bot.svg?view=azure-bot-service-4.0',
                botAvatarInitials: 'PM',
                userAvatarImage: 'images/user.jpg',
                //            userAvatarImage: 'https://www.logolynx.com/images/logolynx/37/37380b74f2adb733bed188323b016fd5.jpeg',

                userAvatarInitials: 'US'
            };

//            var elem = document.getElementById('total');
//            if (location.protocol != 'https:') {
//                const Http = new XMLHttpRequest();
//                const url = "http://pimicschatbot.westeurope.cloudapp.azure.com:7048/NAV/ODataV4";
//                Http.open("GET", url);
//                Http.send();
//                Http.onreadystatechange = (e) => {
//                    console.log(Http.responseText)
//                }
//
//                if (Http.status == 401) {
//                    elem.innerHTML = "Server is running!";
//                    elem.style.color = "Green";
//                } else {
//                    elem.innerHTML = "Server is NOT running!";
//                    elem.style.color = "Red";
//                }
//            } else {
//                elem.innerHTML = "It's not possible to check if server is running. To check use http.";
//            }


            var str = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["User"]) as String)

            window.WebChat.renderWebChat({
                directLine: window.WebChat.createDirectLine({
                    token: 'U328A66jdPA.cwA.DwM.7LEi-JUOR0ptkDBK7WqPwm028QtACEwQ9JxZm9nS5jo'
                }),
                userID: str,
                store,
                styleOptions
            },
                document.getElementById('webchat'));

            document.querySelector('#webchat > *').focus();
        })().catch(err => console.error(err));
    </script>

    <div id="root" role="main"></div>
</body>
</html>

